[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
ipython = "*"
twine = "*"
pytest = "*"
jupyter = "*"
bumpversion = "*"

[packages]
editdistance = "*"
networkx = "*"
numpy = "*"
scipy = "*"
spacy = "*"

[requires]
python_version = "3.7"
